version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 10
    groups:
      astro:
        patterns:
          - "astro"
          - "@astrojs/*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react*"
      keystatic:
        patterns:
          - "@keystatic/*"
      tailwind:
        patterns:
          - "tailwindcss"
          - "@tailwindcss/*"
          - "postcss"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 5
